.cardContainer {
  width: 384px;
  height: 484px;
  border-radius: 10px;
  padding: 48px 32px 32px 32px;
  background-color:#FFFFFF;
  border: solid 1px #E2E8F0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.darkContainer {
  background-color: #0F172A;;
  border: none;
}

.cardTitleContainer {
  padding: 48px 0 0 32px;
  align-items: center;
}


.darkContainer .titleAndPrice{
  color: #f8fafc;
}

.titleAndPrice {
  color: #1E293B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#label {
  font-size: 14px;
  font-weight: 600;
  color: #996dff;
  margin-bottom: 7px;
}

#plan {
  font-size: 32px;
  font-weight: 700;
}

#cifrao {
  font-size: 18px;
  font-weight: normal;
}

#period {
  font-size: 18px;
  font-weight: normal;
}

#price {
  font-size: 24px;
  font-weight: 700;
}

hr {
  background-color: #E2E8F0;
  height: 1px;
  width: 320px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

.darkContainer hr{
  background-color: #334155;
}
