.cardContainer {
  width: 384px;
  border-radius: 10px;
  padding: 48px 32px 32px 32px;
  background-color:#E2E8F0;
  border: 1px solid #e2e8f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.darkContainer {
  background-color: #0f172a;
  border: none;
}

.cardTitleContainer {
  padding: 48px 0 0 32px;
  align-items: center;
}

.titleAndPrice {
  color: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#label {
  font-size: 14px;
  font-weight: 600;
  color: #996dff;
  margin-bottom: 7px;
}

#plan {
  font-size: 32px;
  font-weight: 700;
}

#cifrao {
  font-size: 18px;
  font-weight: normal;
}

#period {
  font-size: 18px;
  font-weight: normal;
}

#price {
  font-size: 24px;
  font-weight: 700;
}

.signNow {
  width: 320px;
  height: 56px;
  background-color: #996dff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
}

hr {
  background-color: #334155;
  height: 1px;
  width: 320px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
