* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Style Guide*/
  
  /* Cores */

  /* Dark Mode */

  /* Text */
  --text-color-dark-mode: #FFFFFF;
  /* Stroke */
  --stroke-color-dark-mode: rgba(255, 255, 255, 0.5);
  /* Surface */
  --surface-color-dark-mode: rgba(255, 255, 255, 0.1);
  --surface-color-dark-mode-hover: rgba(255, 255, 255, 0.05);
  /* Highlight */
  --highlight-color-dark-mode: rgba(255, 255, 255, 0.2);

    /* Light Mode */

  /* Text */
  --text-color-light-mode: #000000;
  /* Stroke */
  --stroke-color-light-mode: rgba(0, 0, 0, 0.5); 
  /* Surface */
  --surface-color-light-mode: rgba(0, 0, 0, 0.05);
  --surface-color-light-mode-hover: rgba(0, 0, 0, 0.02);
  /* Highlight */
  --highlight-color-light-mode: (0, 0, 0, 0.1);

  /* Tipografia */
  --inter: "Inter", sans-serif;
  --text-md: 500 16px var(--inter);
  --text-sm: 400 14px var(--inter);
}

.light {
  background: url("./images/bg-desktop-light.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.dark {
  background: url("./images/bg-desktop.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.light .userInfo p{
  color: var(--text-color-light-mode);
}

.dark .userInfo p{
  color: var(--text-color-dark-mode);
}

.light .linkBtns button{
  color: var(--text-color-light-mode);
  background-color: var(--surface-color-light-mode);
  border: 1px solid var(--stroke-color-light-mode);
}

.light .linkBtns button:hover{
  background-color: var(--surface-color-light-mode-hover);
  border: 2px solid var(--stroke-color-light-mode);
}


.dark .linkBtns button{
  color: var(--text-color-dark-mode);
  background-color: var(--surface-color-dark-mode);
  border: 1px solid var(--stroke-color-dark-mode);
}

.dark .linkBtns button:hover{
  background-color: var(--surface-color-dark-mode-hover);
  border: 2px solid var(--stroke-color-dark-mode);
}

.light .socials {
  color: var(--text-color-light-mode);
}

.dark .socials {
  color: var(--text-color-dark-mode);
}

.dark #pfpIcon{
  border: 2px solid var(--stroke-color-dark-mode);
}

.light #pfpIcon{
  border: 2px solid var(--stroke-color-light-mode);
}
