* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --green: #00875f;
  --green-light: #00b37e;
  --gray1: #121214; /* Background */
  --gray2: #202024; /* Cards */
  --gray3: #323238; /* Divider */
  --gray4: #7c7c8a; /* Placeholder */
  --gray5: #8d8d99; /* Text-Apoio */
  --gray6: #c4c4cc; /* Text */
  --gray7: #e1e1e6; /* Text-Time */
  --white: #ffffff;
  --red-danger: #f75a68;

  --text: 400 16px/160%;
  --job: 400 14px/160%;
  --names: 700 16px/160%;
  --small-time: 400 12px/160%;
  
}
