.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 588px;
  height: 640px;
  padding: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
}

.linkBtns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 59px;
}

.linkBtns button {
  font: var(--text-md);
  width: 540px;
  height: 56px;
  border-radius: 8px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfo p {
  font: var(--text-md);
  font-weight: 400;
  
}

#pfpIcon {
  margin-bottom: 9px;
  border-radius: 100%;
}

.socials {
  display: flex;
  flex-direction: block;
  gap: 26.5px;
}

.socials a {
  color: inherit;
  text-decoration: none;
}

.toggle-container {
  width: 54px;
  height: 24px;
  border: 1px solid var(--stroke-color-dark-mode);
  border-radius: 99px;
  background-color: var(--surface-color-dark);

  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;

  margin: 24px 0;
}

.toggle-switch {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--text-color-dark-mode);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.dark .toggle-switch {
  transform: translateY(-50%) translateX(25px);
}
