.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 588px;
  height: 640px;
  padding: 24px;
}

.linkBtns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 59px;
}

.linkBtns button {
  font: var(--text-md);
  width: 540px;
  height: 56px;
  border-radius: 8px;
}

.userInfo p {
  font: var(--text-md);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13.5px;
}

#pfpIcon {
  margin-bottom: 9px;
  border-radius: 100%;
}

.socials {
  display: flex;
  flex-direction: block;
  gap: 26.5px;
}

.socials a {
  color: inherit;
  text-decoration: none;
}

.toggle-container {
  width: 64px;
  height: 24px;
  border: 1px solid var(--stroke-dark);
  border-radius: 99px;
  background-color: var(--surface-dark);

  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  position: relative;
  transition: background-color 0.3s ease-in-out;

  margin: 24px 0;
}

.toggle-switch {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
