.list li{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    list-style-image: url("./src/components/img/checkicon.svg");
    margin-bottom: 10px;
    margin-left: 19px;
}

li::marker{
    font-size: 20px;
}
